business-api/src/org/key2gym/business/api/reports/revenue/daily/schema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="dailyRevenueReport" type="DailyRevenueReport" />
    <xs:complexType name="DailyRevenueReport">
	<xs:sequence>
	    <xs:element name="title" type="xs:string"/>
	    <xs:element name="periodBegin" type="xs:date" />
	    <xs:element name="periodEnd" type="xs:date" />
	    <xs:element name="generated" type="xs:dateTime" />
	    <xs:element name="day" type="Day" minOccurs="1" maxOccurs="unbounded" />
	</xs:sequence>
    </xs:complexType>
    <xs:complexType name="Day">
	<xs:sequence>
	    <xs:element name="number" type="xs:int" />
	    <xs:element name="date" type="xs:date" />
	    <xs:element name="revenue" type="xs:decimal" />
	</xs:sequence>
    </xs:complexType>
</xs:schema>
